<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardCreation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/validation.js"></script>
</head>
<body>
    
    <!-- навігаційна панель -->
    <nav class="navbar navbar-expand-lg navbar-custom">

        <a class="navbar-brand" href="index.html">BankApp</a>
        <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav justify-content-end ml-auto">
            <a class="nav-link" href="#">Enter Profile</a>
          </div>
        </div>

    </nav>

    <!-- реєстраційна форма -->
    <div id="form_reg">

      <div class="d-flex justify-content-end" id="biglogo">
        Створюємо нову картку
      </div>
      
      <div class="d-md-flex">
        <!-- панель з візуалізацією карток -->
        <div class="d-flex col-md">

          <!-- контейнер з картками -->
          <div class="container">
              
              <div class="row-md d-md-flex justify-content-start">
                
                <!-- лицьова частина картки -->
                <div class="col-md-12">
                  <div class="w-80 h-80 card-custom">
                      <div class="card-body d-flex flex-column">
                          <div class="d-flex justify-content-start">
                              Bank App
                          </div>
                          <p class="card-text">  </p>
                          <p class="card-text">  </p>
                          <div class="d-flex justify-content-end">world debit</div>
                          <div class="d-flex justify-content-center" id="card-number">
                              1234 5678 9234 6432
                          </div>
                          <p class="card-text">  </p>
                          <div class="d-flex p-1 justify-content-start">
                              Володимир Солодко
                          </div>
                          <div class="d-flex p-1 justify-content-end">
                              06/23
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <p> </p>
              <div class="row-md d-md-flex justify-content-start">
                <!-- зворотна частина картки -->
                <div class="col-md-12">
                  <div class="w-80 h-80 card-custom">
                      <div class="d-flex flex-column">
                          <p>  </p>
                          <p>  </p>
                          <div class="d-flex justify-content-between" id="card_line">
                            <div>
                              BankApp
                            </div>
                            <div>
                              BankApp
                            </div>
                            <div>
                              BankApp
                            </div>
                          </div>
                          <p>  </p>
                          <div class="d-flex justify-content-center">
                            CVV: 344
                          </div>
                          <p>  </p>
                          <div class="d-flex justify-content-end" style="position: relative; margin-right: 2%;">
                            <div id="circle1"> </div>
                            <div id="circle2"> </div>
                          </div>
                          <div class="d-flex justify-content-start" style="margin-left: 2%">
                            bankapp.com
                          </div>
                      </div>
                  </div>
                </div>

              </div>
              
          </div>
          <!-- кінець контейнера з картками -->

        </div>
        <!-- кінець панелі з картками -->

        <!-- форма створення картки -->
        <div class="d-flex col-md" id="form_card">
          <form class="needs-validation col-md-12" novalidate>
            <div class="d-flex" id="biglogo">
              Ваша карта перед вами!
            </div>

            <div class="form-row">

              <!-- тут вказують тип картки -->
              <div class="col-md-12">
                <label for="validationCustom01">Тип картки</label>
                <select class="custom-select" id="validationCustom01" required>
                  <!-- це опції -->
                  <option selected disabled value="">Оберіть тип картки...</option>
                  <option>Дебітова</option>
                  <option>Кредитна</option>
                </select>
                <div class="invalid-feedback">
                  Будь-ласка, оберіть тип.
                </div>
              </div>

            </div>

            <div class="form-row">

              <!-- тут вказують тип картки -->
              <div class="col-md-12">
                <label for="validationCustom02">Тариф</label>
                <select class="custom-select" id="validationCustom02" required>
                  <!-- це опції -->
                  <option selected disabled value="">Оберіть тариф...</option>
                  <option>звичайний</option>
                  <option>голд</option>
                </select>
                <div class="invalid-feedback">
                  Будь-ласка, оберіть тариф.
                </div>
              </div>

            </div>

            <div class="form-row d-flex justify-content-center">
              <div id="small_logo">
                Стандартний кредитний ліміт
              </div>
            </div>

            <div class="form-row d-flex justify-content-center">
              <div id="small_logo">
                1000
              </div>
            </div>

            <div class="form-row d-flex justify-content-center">
              <div id="small_logo">
                Коефіцієнт комісії на транзакції 
              </div>
            </div>

            <div class="form-row d-flex justify-content-center">
              <div id="small_logo">
                1%
              </div>
            </div>

            <div class="form-row d-flex justify-content-center">
              <div id="small_logo">
                Бонусний коефіцієнт
              </div>
            </div>

            <div class="form-row d-flex justify-content-center">
              <div id="small_logo">
                0.001
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <button class="btn btn-custom col-md-8" type="submit">Підтвердити створення</button>
            </div>

          </form>
        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>